<main>
    <header>
        <h1>Title or Logo</h1>
        <div class="sub-header">
            Here is your visit
        </div>
    </header>
    <div>
        Verify the details of your visit.
        Complete consents and choose communication preferences.
    </div>
    <div>
        <h2>
            Vaccination
            Thursday, January 13, at 3:00 PM
        </h2>
        <div>
            <h3>Who</h3>
            FirstName LastName
        </div>
        <div>
            <h3>Where</h3>
            Address
        </div>
        <div>
            <h3>Before you start</h3>
            If you're inactive for 15 minutes, we'll end this session
            and your changes won't be saved.
        </div>
    </div>
    <button
        (click)="checkin()">
        Start check-in
    </button>
</main>
