<main>
    <header>
        <h1>Appointment Detail</h1>
        <div class="sub-header">
            Here is your visit
        </div>
    </header>
    <div>
        <p>Verify the details of your visit.</p>
        <p>Complete consents and choose communication preferences.</p>
    </div>
    <div *ngIf="appointment">
        <h2>
            {{ appointment.appointmentType }}
            <br>
            {{ appointment.appointmentDateTime | date : 'fullDate' }}, at {{ appointment.appointmentDateTime | date : 'mediumTime' }}
        </h2>
        <div>
            <h3>Who</h3>
            {{appointment.firstName}} {{appointment.lastName}}
        </div>
        <div>
            <h3>Where</h3>
            {{appointment.address}}
        </div>
        <div>
            <h3>Before you start</h3>
            If you're inactive for 15 minutes, we'll end this session
            and your changes won't be saved.
        </div>
    </div>
    <div
        *ngIf="!appointment"
        class="alert">
        <h3>Patient has not scheduled any appoinment.</h3>
    </div>
    <button
        [hidden]="!appointment"
        (click)="checkin()">
        Start check-in
    </button>
</main>
