<main>
    <header>
        <h1>Check-in</h1>
    </header>
    <p class="sub-header">
        Hi there, let's confirm it's you. <br>
        Enter the patient's data to check-in.
    </p>

    <form
        [formGroup]="inputForm"
        (ngSubmit)="onSubmit()">

            <fieldset>
                <label
                    for="inputDOB">
                    *Date of Birth: (mm/dd/yyyy)
                </label>
                <input
                    #inputDOB
                    formControlName="dateOfBirth"
                    placeholder="mm/dd/yyyy"
                    required />
                <span
                    class="alert"
                    *ngIf="inputForm.invalid && (inputForm.dirty || inputForm.touched)">
                    <p *ngIf="inputForm?.get('dateOfBirth')?.errors?.['required']">
                        Required field
                    </p>
                    <p *ngIf="inputForm?.get('dateOfBirth')?.errors?.['minlength']">
                        Minimum 10 characters
                    </p>
                    <p *ngIf="inputForm?.get('dateOfBirth')?.errors?.['maxlength']">
                        Maximum 10 characters
                    </p>
                    <p *ngIf="inputForm?.get('dateOfBirth')?.errors?.['dateInvalid'] &&
                        inputForm.value.dateOfBirth.length === 10">
                        Invalid date. E.g.: 12/31/1993
                    </p>
                </span>
            </fieldset>

            <fieldset>
                <label
                    for="inputZipCode">
                    *Zip Code: (5 digits)
                </label>
                <input
                    #inputZipCode
                    formControlName="zipCode"
                    required />
                <div
                    class="alert"
                    *ngIf="inputForm?.get('zipCode')?.invalid && (inputForm?.get('zipCode')?.dirty || inputForm?.get('zipCode')?.touched)">
                    <p *ngIf="inputForm?.get('zipCode')?.errors?.['required']">
                        Required field
                    </p>
                    <p *ngIf="inputForm?.get('zipCode')?.errors?.['minlength']">
                        Minimum 5 digits
                    </p>
                    <p *ngIf="inputForm?.get('zipCode')?.errors?.['maxlength']">
                        Maximum 5 digits
                    </p>
                    <p *ngIf="inputForm?.get('zipCode')?.errors?.['patternInvalid'] && inputForm.value.zipCode.length === 5">
                        Invalid input
                    </p>
                </div>
            </fieldset>

            <button
                type="submit"
                [hidden]="inputForm.invalid" >
                Continue
            </button>
    </form>

</main>
